{% extends "registration/base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

  {% if form.errors %}
  <div class="alert alert-danger">Veuillez corriger les erreurs de saisie: {{ form.non_field_errors }}</div>
  {% endif %}

    <div class="page-header">
        <h1>
            Création d'un nouveau compte
        </h1>
    </div>

    <form method="post" action="" class="form-horizontal" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-3 control-label" for="id_username">Nom d'utilisateur:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="username" name="username" placeholder="Utilisateur" value="{{ form.username.value|default_if_none:"" }}" required autofocus />
            </div>
            {% if form.username.errors %}
                <div class="alert alert-warning col-lg-3">{{ form.username.errors.as_text }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="id_email">Adresse Email:</label>
            <div class="col-lg-5">
                <input type="email" class="form-control" id="id_email" name="email" placeholder="Email" value="{{ form.email.value|default_if_none:"" }}" required />
            </div>
            {% if form.email.errors %}
                <div class="alert alert-warning col-lg-3">{{ form.email.errors.as_text }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="id_password1">Mot de passe:</label>
            <div class="col-lg-5">
                <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password" value="{{ form.password1.value|default_if_none:"" }}" required>
            </div>
            {% if form.password1.errors %}
                <div class="alert alert-warning col-lg-3">{{ form.password1.errors.as_text }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="id_password2">Mot de passe (si si, encore):</label>
            <div class="col-lg-5">
                <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Password" value="{{ form.password2.value|default_if_none:"" }}" required>
            </div>
            {% if form.password2.errors %}
                <div class="alert alert-warning col-lg-3">{{ form.password2.errors.as_text }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-5">
                <button class="btn btn-lg btn-primary btn-block" type="submit"  value="Register &rarr;">Valider</button>
            </div>
        </div>
   </form>

{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
